.container {
  border-radius: 5px;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-pic {
  height: auto;
  max-width: 100%;
  padding: 15px;
}

.text-content {
  text-align: center;
  margin-top: 15px;
}

@media screen and (max-width: 480px) {
  /* For devices like Samsung Galaxy A71 */
  .jumbotron {
    flex-direction: column;
    align-items: center;
    height: 70vh;
  }

  .book-pic {
    height: auto;
    max-width: 100%;
  }
}
